.brands {
  &-container {
    padding: 100px 35px;
  }
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 19px;
  margin: 0 auto;
  max-width: 1100px;
  font-family: $font-main;
  text-transform: uppercase;

  &-caption {
    font-size: 1rem;
    max-width: 180px;
    margin: 0 auto;
    text-align: center;
    color: inherit;
    padding: 0 0 50px 0;
    &__arrow {
      transform: rotate(180deg)
    }
  }
  
  &__tile {

    &-title {
      text-transform: lowercase;
      margin: 0;
      text-decoration: none;
      color: $color-white;
      font-size: 1.8rem;
      mix-blend-mode: difference;
      font-weight: 500;
    }

    &-content {
      display: flex;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      transition: 
        $speed-brand-trans filter ease-out; 
        // $speed-brand-trans transform ease-out;
      filter: grayscale(1);
      &:hover {
        filter: grayscale(0);
        // transform: scale(1.1);
      }
    }
  }
}