.footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .logo {
    transition: transform $speed-logo-trans ease-in-out;
    &:hover {
      transform: scale(1.6);
    }
  }
}
