.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  margin-top: 200px;
  // z-index: 1;

  &-side {
    display: flex;
    flex-direction: column;
  }

  &-toggle {
    padding: 8px !important;
    margin: 2px !important;
    &--me {
      &__image {
        max-height: 34px;
      }
    }
  }
}
