.profile {
  height: 100vh;
  font-family: $font-main;
  font-weight: 100;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;

  &-inner {
    flex-direction: row-reverse;
    align-items: flex-end;
    &-container {
      margin: 20px 10px 0 10px;
      align-items: flex-end;
      @include mq-max($breakpoint-sm) {
        align-items: center;
      }
    }
  }

  &-picture {
    border: 1px transparent;
    border-radius: 999px;
    height: 200px;
    width: 200px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  &-name,
  &-title {
    font-weight: 700;
    padding: 0 0 0 4px;
  }

  &-title {
    color: $color-profile-title;
    &__container {
      padding: 0 0 0 2px;
      border-left: 2px solid;
      display: inline-block;
    }
    @include mq-max($breakpoint-xs) {
      display: block;
    }
  }

  &-link {
    &__container {
      justify-content: flex-start;
      margin: 10px 0 0 0;
    }
    font-size: 1rem;
    text-transform: lowercase !important;
    padding: 4px 0 !important;
    min-width: 30px !important;
    margin-right: 4px !important;
    &__pdf {
      color: inherit;
      letter-spacing: 0;
      text-decoration: none;
      border-bottom: 1px dotted;
      padding: 0px !important;
      a {
        padding: 2px 0;
      }
    }
  }
}
