.datum {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-container {
  &--outer {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 150px 0;
  }
  font-family: $font-main;
  font-weight: 100;
  display: grid; 
  .event, .marker {
    &-container {
      &__content button {
        text-transform: inherit;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
      }
    }
  }
  .marker {
    &-img {
      height: 20px;
      padding: 0 0 0 4px;
    }
  }
  &--horizontal {
    // grid-template-columns: repeat(4, minmax(1fr, 200px));
    // grid-template-columns: repeat(auto-fill, minmax(1fr, 200px));
    grid-template-columns: 10ch 10ch 1fr 1fr 1fr 1fr 10ch;
    grid-template-rows: 25ch 2px 25ch;
    .event {
      &-even {
        grid-row-start: 1;
        grid-row-end: 2;
      }
      &-odd {
        grid-row-start: 3;
        grid-row-end: 4; 
      }
      &-container {
        text-align: center;
        margin: 0 auto;
        max-width: 85%;
      }
    }
    
    .marker {

      grid-row-start: 2;
      grid-row-end: 3;

      &-container {
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-weight: 700;
        &__content {
          padding: 5px;
          width: min-content;
          p {
            padding: 3px;
            display: flex;
            align-items: center;
            margin: 0;
            white-space: nowrap;
          }
        }
      }
    }
  }
  &--vertical {
    // grid-template-columns: 1fr 1px 1fr;
    // grid-template-rows: repeat(4, 200px);

    grid-template-rows: 10ch 10ch 1fr 1fr 1fr 1fr 10ch;
    grid-template-columns: 1fr 2px 1fr;

    .event {
      &-even {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      &-odd {
        grid-column-start: 3;
        grid-column-end: 4; 
      }
      &-container {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
      }
    }
    .marker {

      grid-column-start: 2;
      grid-column-end: 3;

      &-container {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        &__content {
          padding: 5px;
          width: min-content;
          p {
            display: flex;
            align-items: center;
            padding: 3px;
            margin: 0;
            white-space: nowrap;
          }
        }
      }
      
    }
  }
}
