$color-white: white;
$color-gray: lightgray;

$koras-yellow-1: #fffdd3;

$color-green-1: #2d855f;
$color-green-2: #1a4c36;

$color-blue: #03396c;

////////////


$color-base-yellow: $koras-yellow-1;
$color-base-green-light: $color-green-1;
$color-base-green-dark: $color-green-2;

$color-accent-white: $color-white;
$color-accent-blue: $color-blue;
$color-accent-gray: $color-gray;