.theme {
  &-nav {
    &--dark {
      background-color: $color-nav;
      button {
        color: $color-text-dark !important;
      }
    }
    &--light {
      background-color: $color-nav;
      button {
        color: $color-text-dark !important;
      }
    }
  }

  &-profile {
    &--dark {
      background-color: $color-bg-dark-1;
      color: $color-text-dark;
    }
    &--light {
      background-color: $color-bg-light-1;
      color: $color-text-light;
    }
    &-link {
      &--dark {
        span {
          color: $color-text-dark;
          svg {
            color: $color-text-dark;
          }
        }
      }
      &--light {
        span {
          color: $color-text-light;
          svg {
            color: $color-text-light;
          }
        }
      }
    }
  }

  &-player {
    &-header {
      &--dark {
        &.home-page {
          color: $color-text-dark;
          &:active {
            color: $color-text-dark;
          }
          &:hover {
            background-color: #0d2842 !important;
          }
        }
      }
      &--light {
        color: $color-text-light;
        &.home-page {
          color: $color-text-light;
          &:hover {
            background-color: #efd2d2 !important;
          }
        }
      }
    }
    &--dark {
      div {
        background-color: $color-bg-dark-1;
        color: $color-text-dark;
        & > [role='progressbar'] {
          background-color: $color-progressbar-dark;
          div {
            background-color: $color-text-dark;
          }
        }
      }
    }
    &--light {
      div {
        background-color: $color-bg-light-1;
        color: $color-text-light;
        & > [role='progressbar'] {
          background-color: $color-progressbar-light;
          div {
            background-color: $color-bg-dark-1;
          }
        }
      }
    }
  }

  &-timeline {
    &--dark {
      background-color: $color-bg-dark-2;
      color: $color-text-dark;
      .timeline-container {
        .event,
        .marker {
          &-container {
            &__content {
              button {
                color: $color-text-dark !important;
              }
            }
          }
        }
      }
      div {
        background-color: $color-bg-dark-2;
      }
    }
    &--light {
      background-color: $color-bg-light-2;
      color: $color-text-dark;
      .timeline-container {
        .event,
        .marker {
          &-container {
            &__content {
              button {
                color: $color-text-dark !important;
              }
            }
          }
        }
      }
      div {
        background-color: $color-bg-light-2;
      }
    }
    &-marker {
      &--dark {
        background-color: $color-text-dark !important;
      }
      &--light {
        background-color: $color-text-dark !important;
      }
    }
  }

  &-brands-container,
  &-footer {
    &--dark {
      background-color: $color-bg-dark-2;
      color: $color-text-dark;
    }
    &--light {
      background-color: $color-bg-light-2;
      color: $color-text-dark;
    }
  }
}
