.theme {
  &-nav {
    &--dark {
      background-color: $color-nav-dark;
      button {
        color: $color-nav-text-dark !important;
      }
    }
    &--light {
      background-color: $color-nav-light;
      button {
        color: $color-nav-text-light !important;
      }
    }
  }

  &-profile {
    &--dark {
      background-color: $color-bg-dark-1;
      color: $color-text-dark;
    }
    &--light {
      background-color: $color-bg-light-1;
      color: $color-text-light;
    }
    &-link {
      &--dark {
        span {
          color: $color-text-dark;
          svg {
            color: $color-text-dark;
          }
        }
      }
      &--light {
        span {
          color: $color-text-light;
          svg {
            color: $color-text-light;
          }
        }
      }
    }
  }
  &-timeline {
    &--dark {
      background-color: $color-bg-dark-2;
      color: $color-text-dark;
      .timeline-container {
        .event,
        .marker {
          &-container {
            &__content {
              button {
                color: $color-text-dark !important;
              }
            }
          }
        }
      }
      div {
        background-color: $color-bg-dark-2;
      }
    }
    &--light {
      background-color: $color-bg-light-2;
      color: $color-text-light;
      .timeline-container {
        .event,
        .marker {
          &-container {
            &__content {
              button {
                color: $color-text-light !important;
              }
            }
          }
        }
      }
      div {
        background-color: $color-bg-light-2;
      }
    }
    &-marker {
      &--dark {
        background-color: $color-text-dark !important;
      }
      &--light {
        background-color: $color-text-light !important;
      }
    }
  }
  &-player {
    &-header {
      &--dark {
        &.melophile-page {
          // color: $color-blue-3;
          color: $color-green-5;
        }
        &.home-page {
          color: $color-text-dark;
          &:active {
            color: $color-text-dark;
          }
          &:hover {
            background-color: #0d2842 !important;
          }
        }
      }
      &--light {
        color: $color-text-light;
        &.home-page {
          color: $color-text-light;
          &:hover {
            background-color: #f3efef !important;
          }
        }
      }
    }
    &--dark {
      .player > .player-track-container > .player-track--option {
        filter: grayscale(1);
        &:hover {
          filter: grayscale(0);
        }
      }

      div {
        background-color: $color-bg-dark-1;
        color: $color-text-dark;
        & > [role='progressbar'] {
          background-color: $color-progressbar-dark;
          div {
            background-color: $color-green-5;
          }
        }
      }
    }
    &--light {
      .player > .player-track-container > .player-track--option {
        filter: grayscale(0);
        &:hover {
          filter: grayscale(1);
        }
      }

      div {
        background-color: $color-bg-light-1;
        color: $color-text-light;
        & > [role='progressbar'] {
          background-color: $color-progressbar-light;
          div {
            background-color: $color-bg-dark-1;
          }
        }
      }
    }
  }

  &-brands-container {
    &--dark > .brands .brands__tile-content {
      filter: grayscale(1);
      &:hover {
        filter: grayscale(0);
      }
    }
    &--light > .brands .brands__tile-content {
      filter: grayscale(0);
      &:hover {
        filter: grayscale(1);
      }
    }
  }

  &-yt-converter,
  &-brands-container,
  &-footer {
    &--dark {
      background-color: $color-bg-dark-2;
      color: $color-text-dark;
    }
    &--light {
      background-color: $color-bg-light-2;
      color: $color-text-light;
    }
  }
}
